body{
    /* Background color and default font */
    background: #383838;
    font-family: Serif, serif;
    margin: 0;
}

p, h1, h2, h3 {
    color: #4CAF50;
}

div {
    text-align: center;
}

/* Span lines for the button instead of using <br> */
span.btn-line{
    display: block;
}

button {
    border-radius: 3px;
    /* Remove blue glow from button */
    outline: none;
    /* Set text and background colors */
    color: #000;
    background: #fff;
    /* Use pointer cursor */
    cursor: pointer;
}

/* Apply this style while the button is clicked */
button:active{
    border-top: solid 2px #8f8f8f;
    border-left: solid 2px #8f8f8f;
}

.headerbtn {
  color: #fff;
  background: #ADADAD;
  border: 0px;
}

.helptext {
    padding: 0 25%;
}

.header {
  background-color: #ADADAD;
  overflow: hidden;
  padding: 10px;
}

.amt {
  display: inline-block;
  float: left;
  text-align: center;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  font-family: monospace;
  line-height: 32px;
}

.amtimg {
  width: 32px;
  height: 32px;
}

.nav {
  display: inline-block;
  float: right;
  text-align: center;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  font-family: monospace;
  line-height: 32px;
}

.tier {
  display: none;
}

#resources {
  display: inline-block;
}

#prestige {
  display: none;
}

#relocate {
  display: none;
}

#help {
  display: none;
}

#options {
  display: none;
}

#research {
  display: none;
}

.amtt {
  margin: 0 5px;
}

.proj2 {
  display: none;
}

.metal {
  display: none;
}

.metalimg {
  visibility: hidden;
}

.researchbtn {
  display: none;
}

.relocatebtn {
  display: none;
}

.mTR {
  display: none;
}

/****************
*u/YhvrTheSecond*
****************/
